<article id="intro-android" class="intro-mobile column one-half content section text-center show-on-android hide-on-samsung">
  <header>
    <img
      height="170px"
      src="/img/adblock-browser-logo.png"
      alt="{{ abb-logo-alt[Alt text] Adblock Browser logo }}">
    <h1>{{ intro-android-heading[heading] <span>Get</span> <span>Adblock Browser</span> }}</h1>
    <p class="subheading">{{ intro-android-item-1[list item] <span>The best ad-blocking browser</span> <span>for Android</span> }}</p>
  </header>
  <ul class="unstyled">
    <li></li>
    <li>{{ intro-android-item-2[list item] Block annoying ads }}</li>
    <li>{{ intro-android-item-3[list item] Block tracking }}</li>
    <li>{{ intro-android-item-4[list item] Avoid malware }}</li>
  </ul>
  <div>
    <? include install-button-android ?>
  </div>
  <div>
    <a href="download">{{ view-ab-products-label[link] View all our ad blocking products }}</a>
  </div>
</article>
