title=Data submitted successfully
opt_in_only_tracking=1
template=minimal

<head>
  <meta name="robots" content="noindex" />
</head>

<div id="content">
  <div class="container content">
    <h1>{{ heading[Heading text] Data submitted successfully }}</h1>
    <p class="lead">{{ thank-you[Thank you message below heading] Thank you for your participation }}</p>
  </div>
</div>
